extends layout

include mixins/_reviewForm

block content
	//- pre= h.dump(store.reviews)
	.single
		.single__hero
			img.single__image(src=`/uploads/${store.photo || 'bb7f7d60-9b0c-46b0-a0e4-1422d5752567.jpeg'}`)
			h2.title.title--single
				a(href=`/stores/${store.slug}`) #{store.name}

	.single__details.inner
		//- pre=h.dump(h.staticMap(store.location.coordinates))
		img.single__map(src=h.staticMap(store.location.coordinates))
		p.single__location= store.location.address
		p= store.description

		if store.tags
			ul.tags
				each tag in store.tags
					li.tag
						a.tag__link(href=`/tags/${tag}`)
							span.tag__text #{tag}

		if user
			+reviewForm(store)

		if store.reviews
			.reviews
				each review in store.reviews
					.review
						p= review.text